
{{#each surfboards}}
  <option id='target' name="{{this.id}}">
    <p>Id:{{this.id}}
    ht({{this.height}}"),
    ({{this.shape}}),
    ({{this.fin_setup}})</p>
  </option>


    {{!-- </div> --}}


  {{/each}}
