{{#each quotes as |quote|}}
<div class="quote" data-id="{{quote.id}}">
  <h1> <small>{{quote.author}}</small></h1>
  <div>
    {{#if quote.user}}
      {{quote.user.email}}
    {{else}}
      Unknown user.
    {{/if}}
  </div>
  <div>
    {{#if quote.quoteText}}
      {{quote.quoteText}}
    {{else}}
      Unknown quoteText.
    {{/if}}
  </div>
  <div>
  {{#if quote.editable}}
    <button data-id="{{quote.id}}" class="delete-button">Delete This Post</button>
  {{else}}
    Unknown quoteText.
  {{/if}}
  </div>

</div>

{{/each}}
