  {{#each sessions}}
<li class="session_handles">
<strong>Session id: {{this.id}}</strong>
<br>
Date:{{this.day}}
<br>
At: {{this.spot}}
<br>
Conditions: {{this.conditions}}
<br>
Board: {{this.surfboard_id}}
</form>
</li>
{{/each}}
